@import '../../assets/styles/colors';
@import '../../assets/styles/mixins';

.gl-button {
  position: relative;
  @include centralize;
  @include no-highlight;
  height: 56px;
  border-radius: 6px;
  white-space: nowrap;
  text-transform: uppercase;

  user-select: none;
  cursor: pointer;

  font-size: 14px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: center;
  color: $white;

  padding: 15px 42px 17px 42px;

  .gl-button_background {
    transition: filter 0.1s ease-out;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: $irish-coffee;
    border-radius: 6px;
    pointer-events: none;
  }

  .label {
    z-index: 0;
    font-size: 16px;
  }

  svg {
    position: absolute;
    top: -56px;
    left: -77%;
    z-index: -1;
  }

  &.auto {
    width: 100%;
  }

  &.xs {
    width: 80px;
  }

  &.sm {
    width: 120px;
  }

  &.md {
    width: 160px;
  }

  &.lg {
    width: 200px;
  }

  &.xl {
    width: 240px;
  }

  &.disabled {
    opacity: 0.5;
    cursor: default !important;
    &:hover {
      filter: brightness(100%);
    }

    &:active {
      filter: brightness(100%);
    }
  }

  &:active, &:focus {
    outline: none;
  }

  &:active, &:hover {
    .gl-button_background {
      filter: brightness(90%);
    }
  }
}
