@import '../../assets/styles/mixins';
@import '../../assets/styles/colors';

.gl-title-wrapper {
  @include centralize;
  width: 100%;
  height: 100%;

  font-size: 2rem;
  color: $white;

  h1 {
    text-align: center;
  }
}
