@import '../../assets/styles/colors';

.gl-navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 72px;
  background-color: $irish-coffee;
  z-index: 3;
  opacity: 0;
  transition: opacity 0.2s linear;
  pointer-events: none;
  box-shadow: 0 1px 20px 14px rgba($black, 0.8);

  display: flex;

  &.visible {
    pointer-events: all;
    opacity: 1;
  }

  .gl-navbar-image {
    width: 10rem;
    height: auto;
    svg {
      width: 120px;
      height: 120px;
      path {
        fill: $orange;
      }
    }
  }

  .gl-navbar-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    width: 50%;

    .gl-app-title {
      font-size: 2rem;
      color: $sapling;
      &:first-letter {
        color: $cape-palisser;
      }
    }

    .gl-nav-filters {
      display: flex;
      align-items: center;

      > div:first-child {
        margin-right: 24px;
      }
    }

    @media screen and (max-width: 1920px ) {
      width: 60%;
    }
    @media screen and (max-width: 1440px ) {
      width: 70%;
    }
    @media screen and (max-width: 1200px ) {
      width: 75%;
    }
    @media screen and (max-width: 1024px ) {
      width: 95%;
      .gl-app-title {
        visibility: hidden;
        width: 2rem;
      }
      .gl-app-title:first-letter {
        visibility: visible;
      }
    }
  }

  @media screen and (max-width: 1024px) {
    .gl-navbar-image {
      width: 6rem;
      svg {
        width: 80px;
        height: 80px;
      }
    }
  }
}
