$white: #ffffff;
$green: #00ac67;
$red: #ee0000;
$light-green: #d4f5cf;
$light-red: #fedad3;
$grey: #cdcdd5;
$light-grey: #f7f7f8;
//$mid-grey: #e9e9ef;
$mid-grey: #f2f2f2;
$alto: #d0d0d0;
$dark-grey: #898989;
$orange: #fcb13b;
$bg-color-dark: #b49e7a;

$sea: #8ee5fe;
$mint: #17A0A1;
$black: #121212;
$bg-color: #fbfbfb;
$purple: #db007b;
$blue: #39d6f7;
$wave: #17a0a1;
$error: #e81253;

$irish-coffee: #5c3b21;
