$white: #ffffff;
$green: #00ac67;
$red: #ee0000;
$grey: #cdcdd5;
$light-grey: #f7f7f8;
$mid-grey: #f2f2f2;
$alto: #d0d0d0;
$dark-grey: #898989;
$orange: #fcb13b;
$bg-color-dark: #b49e7a;

$mint: #17A0A1;
$black: #121212;
$bg-color: #fbfbfb;
$error: #e81253;

$sapling: #E0D2A6;
$irish-coffee: #5c3b21;
$cape-palisser: #9D723F;
$raffia: #ecdfbe;
